#header .brand {
  float: left;
  width: 240px;
  min-height: 80px;
  border: 10px #0c9eef;
  position: relative;
  background:  #0c9eef url('../img/logo.png') no-repeat center;
  background-size: 60%;
}

.panel-body {
    background-color: #fff;
    padding: 30px;
}

h1 .h1 {
    line-height: 36px;
}

.panel-body h1 {
  line-height: 36px;
  font-weight: 350;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.panel-body h1:after {
    content:' ';
    display:block;
    border-bottom:1px solid #d0d0d0;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body h2 {
  padding: 16px 10px 0px 0px;
  line-height: 32px;
  font-weight: 350;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.panel-body h3 {
    padding: 5px 0px 5px 0px;
  font-weight: 350;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
