.panel-body h1 {
  padding: 30px 10px 24px 0px;
  line-height: 10px;
  font-weight: 300;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}


.panel-body h2 {
  padding: 30px 10px 24px 0px;
  line-height: 10px;
  font-weight: 300;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
